*{
  font-family: helvetica;
  margin: 0;
  padding: 0;
}

.container{
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 25%;
  padding: 0.5%;
  border: 2px solid green;
  width: 25%;
  height: 30%;
}

.text-container{
  background-color: #3c3c3b;
  color: white;
  width: 45%;
  height: 94%;
  }

img{
  position: absolute;
  right:3;
  width: 50%;
  height: 94%;

}
