*{
  font-family: helvetica;
  margin: 0;
  padding: 0;
}


.container{
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 25%;
  padding: 0.5%;
  width: 50%;
  height: 60%;
  background: linear-gradient( 120deg, rgba(255,255,255,0) 50%, #3c3c3b 50%);
  background-repeat: no-repeat;

}

.text-container{
  position: absolute;
  right: 1%;
  background-color: #3c3c3b;
  color: white;
  width: 60%;
  height: 96%;
  background: linear-gradient(45deg);
  background-image: url("../img/laboratoria.jpg");
}

img{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 40%;
  height: 60%;

}
