*{
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 25%;
  padding: 0.5%;
  width: 50%;
  height: 60%;
  background: linear-gradient( 125deg, rgba(255,255,255,0) 50%, #3c3c3b 50%);
  background-repeat: no-repeat;
  letter-spacing: 4px;
  font-weight: lighter;
}

h1{
  position: absolute;
  top: 25%;
  right: 6%;
  color: white;
  font-size: 2.2em;
  letter-spacing: 5px;

}

#fd{
  color: #FFA500;
  position: absolute;
  top: 50%;
  right: 6%;
}

h4{
  color: white;
  position: absolute;
  bottom: 20%;
  right: 5%;
}

.foto-lab{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 40%;
  height: 60%;
}

.logo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;

}
